# Created by .ignore support plugin (hsz.mobi)
ay-common/ay-common.iml
ay-common/target/
ay-gateway/ay-gateway.iml
ay-gateway/target/
ay-product/ay-product-interface/ay-product-interface.iml
ay-product/ay-product-interface/target/
ay-product/ay-product-service/ay-product-service.iml
ay-product/ay-product-service/target/
ay-product/ay-product.iml
